<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You could probably contact me at <a href="mailto:antti@latrlatr.com">antti@latrlatr.com</a> if I ever bother configuring it. Not working right now. :) But, you know, it's only a app made out of tutorial right now so why would you need to contact me anyway? 
</p>
